@import "base/font.scss";
@import "base/colors.scss";

.right {
  display: none;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 15px;

}

.search {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.search-top {
  flex: 9;
  width: 100%;
}


.search a {
  display: block;
  flex: 1;
}

.searchbar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex:1;
  border-bottom: 1px solid $lightgray;
}

.searchbar label {
  text-align: left;
  font-size: $small;
  flex: 1;
  padding-left: 10px;

}


.searchbar input {
  flex: 9;
  width: 70%;
  height: 30px;
  border-radius: 15px;
  font-size: $small;
  color: $lightgray;
  background-color: white;
  margin: 15px;
  padding-left: 5px;
  outline: none;
  text-indent: 20px;

}

.search-results {
  height: 100%;
  width: 100%;
  min-width: 0;
}

.head {
  font-weight: 800;
}

.srow{
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1px 0;
  height: 70px;
  min-width: 0
}

.srow2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.srow:hover {
  background-color: $lightgray;
}

.stitle,.sartist,.salbum  {
  text-align: left;
  margin-left: 5px;
  padding: 2px 0;
  min-width: 0
}

.sart {
  flex: 1;
}

.sart img {
  margin: 0 auto;
  height: 45px;
  width: 45px;
}

.score {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.stitle {
  color: $white;
  min-width: 0;
}

.stitle > p {

}

.sartist {

  color: $gray;
}


.addicon {
  color: $gray;
  text-align: center;
  flex: 1;
}

.fa-check {
  color: $green;
}

.addicon:hover {
  color: $white;
}

.source-selected {
  color: $gray;
}

.playing {
  color: $purple;
}
