@import "base/font.scss";
@import "base/colors.scss";

.new-playlist, .new-playlist-form {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: $big;

  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#members i {
  display: block;
  font-size: 40px;
  text-align: left;
}

#members {
  padding: 2px;
  width: 100%;
  min-height: 60px;
  margin-bottom: 10px;
  flex: 1;
}

.lower-form {
  width: 100%;
  height: 100%;
  display: flex;
    overflow-y: scroll;
}

.user-search-box {
  flex: 1;

}

#members img {
  float: left;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.selected {
  color: black;
  background-color: $gray;
}

.new-playlist-form h3 {
  text-align: left;
}

.new-playlist-form input {
  font-size: $medium;
  width: 100%;

}

.new-playlist-form {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;

}

.user-image {
  flex: 1;
}

.member-image {
  width: 40px;
  height: 40px;
  margin: 2px 5px 0 0;
  border-radius: 25px;
}

.user-image img {
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.user-name {
  margin-left: 5px;
  padding: 10px 0;
  font-size: $medium;
  text-align: left;
  flex: 9;
}

.user-row {
  max-height: 45px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.user-search-results {

  width: 100%;
}
