@import "base/font.scss";
@import "base/colors.scss";

.new-playlist, .new-playlist-form {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: $big;
}
//
.new-playlist-form h3 {
  text-align: left;
}

.new-playlist-form input {
  font-size: $big;
  width: 100%;
  max-width: 600px;
}

.new-playlist-form {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
}

.user-image {
  flex: 1;
}

.user-image img {
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.user-name {
  margin-left: 5px;
  padding: 10px 0;
  font-size: $medium;
  text-align: left;
  flex: 9;
}

.user-row {
  height: 40px;
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
}

.user-search-results {
  overflow-y: scroll;
  width: 80%;
  margin-top: 20px;
}
