@import "base/font.scss";
@import "base/colors.scss";

.new-playlist, .new-playlist-form {
  height: 100%;
  width: 100%;
  color: $white;
  text-align: center;
  font-size: $big;

  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#members i {
  display: block;
  font-size: 40px;
  text-align: left;
}

#members {
  padding: 10px 0 0 10px;
  float: left;
  width: 100%;
  min-height: 60px;
  margin-bottom: 10px;
  flex: 1;
}

.lower-form {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
}

.user-search-box {
  flex: 1;

}

#members img {
  float: left;
  margin: 5px;
  height: 40px;
  width: 40px;
}

.selected {
  color: black;
  background-color: $gray;
}

.new-playlist-form h3 {
  text-align: left;
}

.new-playlist-form input {
  font-size: $medium;
  width: 100%;

}

.new-playlist-form {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;

}

.user-image {
  flex: 1;
}

.member-image {
  width: 40px;
  height: 40px;
  margin: 2px 5px 0 0;
  border-radius: 25px;
}

.user-image img {
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.user-name {
  margin-left: 5px;
  padding: 10px 0;
  font-size: $medium;
  text-align: left;
  flex: 9;
}

.user-row {
  max-height: 45px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.user-search-results {

  width: 100%;
}

input.formsubmit {
  vertical-align: center;
  padding-top: 5px;
  color: $white;
  margin-bottom: 20px;
  border: 2px solid $white;
  height: 100px !important;
  width: 100px !important;
}

input.formsubmit:hover {
  font-weight: 800;
}


// BUTTON



// :root {
//     --bg: #3C465C;
//     --primary: $white;
//     --solid: #fff;
//     --btn-w: 5em;
//     --dot-w: calc(var(--btn-w)*.2);
//     --tr-X: calc(var(--btn-w) - var(--dot-w));
// }
// * {box-sizing: border-box;}
// *:before, *:after {box-sizing: border-box;}
//
// .btn {
//     position: relative;
//     margin: 0 auto;
//     width: var(--btn-w);
//     color: var(--primary);
//     border: .15em solid var(--primary);
//     border-radius: 5em;
//     text-transform: uppercase;
//     text-align: center;
//     font-size: $medium;
//     line-height: 2em;
//     cursor: pointer;
//     margin-bottom: 20px;
// }
// .dot {
//     content: '';
//     position: absolute;
//     top: 0;
//     width: var(--dot-w);
//     height: 100%;
//     border-radius: 100%;
//     transition: all 300ms ease;
//     display: none;
// }
// .dot:after {
//     content: '';
//     position: absolute;
//     left: calc(50% - .4em);
//     top: -.4em;
//     height: .8em;
//     width: .8em;
//     background: var(--primary);
//     border-radius: 1em;
//     border: .25em solid var(--solid);
//     box-shadow: 0 0 .7em var(--solid),
//                 0 0 2em var(--primary);
// }
// .btn:hover .dot,
// .btn:focus .dot {
//     animation: atom 2s infinite linear;
//     display: block;
// }
// @keyframes atom {
//     0% {transform: translateX(0) rotate(0);}
//     30%{transform: translateX(var(--tr-X)) rotate(0);}
//     50% {transform: translateX(var(--tr-X)) rotate(180deg);}
//     80% {transform: translateX(0) rotate(180deg);}
//     100% {transform: translateX(0) rotate(360deg);}
// }
