/*// Core*/
@import "base/colors.scss";
@import "base/font.scss";

.splash {
  background: url("/splash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  background-color: black;
  box-sizing: border-box;
}

.login-form-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: rgb(190,183,183);
}

.login-form-container a {
  color: $purple;
}

.login-form-container h1 {
  font-size: $big;
}

.login-form-container div {
  width: 400px;
  height: 400px;
  padding: 10px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-form input, button {
  background-color: $lightgray;
  color: $gray;
  border-radius: 5px;
  height: 40px;
  font-size: 1.1em;
  padding-left: 5px;
}

.login-form input:focus {
  text-indent: 5px;
  outline-color: white;
}

.login-form p {
  margin-top: 15px;
}

.login-form-box li {
  color: $red;
  padding-left: 10px;
  text-align: left;
  margin-top: 15px;
}
