@import "base/colors.scss";
@import 'base/font.scss';



.playbar {
  width: 100%;
  font-size: 36px;
  height: 85px;
  text-align: center;
  color: $gray;
  background: rgb(40,40,40);
  display: flex;
}

.playbarleft, .playbarright {
  height: 100%;
  flex: 3;
}

.playbarleft {
  padding: 12px 0 12px 15px;
  display: flex;
}

.playbar span {
  display: block;
  display: flex;
}


.playbarmid {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 6;
  font-size: $medium;
}

.playbar-info {
  text-align: left;
  margin-left: 10px;
  padding-top: 10px;
  display: flex;
  flex: 3;
  flex-direction: column;
}

.cover-art {
  flex: 1;
  justify-content: center;
}

.cover-art img {
  height: 60px;
  width: 60px;
}

.playbar-info p {
  margin: 2px 0;
  font-size: $small;
}

.playbar-info p #title {
  color: $white;
}

.playbar-info p #artist {
  color: $gray;
}

.scrobble {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 50%;
}

.scrobble p {
  font-size: 11px;
  display: block;
  flex: 1;
}
.scrobble div {
  flex: 9;
}

.play-control {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.play-control i {
  margin: 0 30px;
  font-size: 25px;
}

.outer-timebar{
  margin-top: 2px;
  height: 5px;
  border-radius: 5px;
  background-color: $lightgray;
}

.inner-timebar {
  width: 0%;
  height: 100%;
  border-radius: 5px;
}

.inner-timebar {
  background-color: $gray;
}
.no-song {
  display: none;
}
